html,
body {
  padding: 0;
  margin: 0;
  font-family: "Lato",-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth !important;
  line-height: 1.6;
  font-size: 18px;
  background:#022B3A;
  color: white;
  height:100%;
}

* {
  box-sizing: border-box;
}

a{
text-decoration : none !important;
color: #FFFFFF;
}
nav{
  background-color:#1F7A8C !important;
  z-index: 100 !important;
  overflow:hidden !important;
  list-style-type: none;
  margin: 0 !important;
  padding: 0 !important;
  position: fixed !important;
  top: 0px !important;
  left:0px !important;
  width: 100% !important;
}
#nav-mobile {
z-index: 100;
overflow:hidden;
list-style-type: none;
margin: 0;
padding: 0;
position: fixed;
top: 0px;
left:0px;
width: 100%;
}
#nav-mobile li {
float : left;
}
#nav-mobile li a:hover {
background-color:#DBE4EE;
color: black;
}
.sidenav{
  background-color:#1F7A8C !important;
  top:56px !important;
  padding: 0 !important;
  height: auto !important;
  width: 100% !important;
}
.sidenav li a{
  color: white !important;
}
.sidenav li a:hover{
  background-color:#DBE4EE !important;
  color: black !important;
}
.sidenav-overlay{
  z-index: 1 !important;
}
.sidenav-close i{
margin-right: 5px !important;
}

/* sidenav for home and aboutme page */
.table-of-contents
{
    padding: 10px;
    height: 80%;
    display: table;
    top: 50%;
    transform: translate(0%, -50%);
}
.table-of-contents li{
    border-bottom: 2px solid rgba(128, 128, 128, 0.2);
    margin-bottom: 10px;
    padding-bottom: 5px;
    width: 110%;
    transition: border-bottom 1s;
}
.table-of-contents li a {
    color: white;
    display: table-cell;
    vertical-align: middle;
    transition: transform,border-left 1s;
    border-left: 6px solid rgba(128, 128, 128, 0.2);
    border-radius: 15px;
    transform: translate(5px,0px);
}
.table-of-contents li a:hover {
    transform: translate(5px,0px);
    border-left: 4px solid #fb7e50;
}
.table-of-contents li:hover {
    border-bottom: 2px solid #fb7e50;
}
/* ./sidenav for home and aboutme page */

.active{
background-color:#09BC8A !important;
}

.hidden{
  opacity: 0;
  font-size: 0px;
}

.card{
  display:flex;
  flex-direction:column;
  align-items:center;
  border: 0px;
  border-radius:10px !important;
  background-color:#303841 !important;
  margin: 15px !important;
  box-shadow: 6px 6px 6px black !important;
  color:#FFFFFF;
  transition:opacity .5s,box-shadow .2s, font-size .2s !important;
}
.card img{
  width:100%;
  height:auto;
  max-height:264.6px;
  max-width :576px;
  border-radius:10px;
}
.card span{
  color:#fb7e50;
  transition:opacity .5s, font-size .2s;
}
.card:hover .hidden{
  font-size: inherit;
  opacity: 1;
  transition:opacity .5s, font-size .2s;
}
.card:hover{
  box-shadow: 0px 0px 30px black;
}
.card hr{
  border: 0;
  clear:both;
  display:block;
  width: 100%;               
  background-color:#808080;
  height: 1px;
}



footer{
  margin :0;
  display:flex !important;
  flex-direction:column;
  align-items: center;
}
footer svg{
  position:relative;
  top: 40px;
}
footer h3{
  font-family:Montserrat;
  color:#DBE4EE;
  z-index:10;
  margin:0;
  bottom:0;
  display:flex;
  align-items:center;
  font-size:max(1vw, 10px);
}
footer a {
  margin-left:8px;
  text-decoration : none;
  color : #DBE4EE;
}